.logoSection {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoIcon {
  font-size: 50px !important;
  color: var(--logo-color) !important;
}
.codeIcon {
  font-size: 25px !important;
  position: absolute;
  margin-bottom: 7px;
  font-family: var(--primary-font-family) !important;
  color: var(--logo-color) !important;
}
.footerLogoColor{
  font-size: 100px !important;
  color: var(--primary-background) !important;
}

.footerCodeIcon {
  font-size: 35px !important;
  position: absolute;
  margin-bottom: 8px;
  font-family: var(--primary-font-family) !important;
  color: var(--primary-background) !important;
}

