.headingBorder {
  border: 2px solid rgb(43, 0, 255);
  width: 50%;
  height: auto;
  display: flex;
  margin: auto;
}
.footerMenuBorder{
  border: 1px solid rgb(255, 255, 255);
  width: 30%;
  height: auto;
}