.borderOne {
  border: 1px solid var(--logo-color);
  width: 30%;
  height: auto;
  margin-top: 1rem;
}
.borderTwo{
  border: 1px solid var( --primary-background);
  width: 30%;
  height: auto;
  margin-top: 1rem;
} 