.borderOne {
  border: 2px solid var(--logo-color);
  width: 50%;
  height: auto;
  margin-top: 2rem;
}
.borderTwo{
  border: 1px solid var( --primary-background);
  width: 30%;
  height: auto;
  margin-top: 1rem;
} 