.navbarSection {
  /* border: 2px solid red; */
  width: 100% !important;
  height: auto;
}
.navbar {
  /* border: 2px solid green !important; */
  width: 100% !important;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0px;
  /* background-color: var( --navbar-bg) !important; */
  background-color: white !important;
}
.menuSection { 
  /* border: 2px solid green !important; */
  width: 80% !important;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.menuIcon {
  font-size: 2rem !important;
  cursor: pointer !important;
}

/* TODO:  IsMobile navbar section  */

@keyframes slideOpen {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.sideBar {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  background-color: #f1f1fa;
  display: none;
}
.afterClickMenu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  background-color: #f1f1fa;
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  animation: slideOpen 1.1s ease-in;
}
.brandSection {
  /* border: 2px solid green; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  font-size: 2rem !important;
  color: var(--logo-color) !important;
}

@media (max-width: 1111px) {
  .menuSection {
    /* border: 2px solid red; */
    width: auto !important;
  } 
}
@media (max-width: 800px) {
  .navbar {
    padding: 0.5rem 0px;
  }
  .menuSection{
    display: none;
  }
}
