.menu {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: end;
}

.menuItem {
  font-size: 1.1rem;
  font-family: var(--primary-font-family) !important;
  color: var(--primary-font-color) !important;
  font-weight: 600 !important;
  cursor: pointer;
  margin: 0px 5px !important;
  text-decoration: none;
}
.active {
  font-size: 1.1rem;
  font-family: var(--primary-font-family) !important;
  color: var(--learn-more-color) !important;
  font-weight: 600 !important;
  cursor: pointer;
  margin: 0px 5px !important;
}
.isMobileMenu {
  width: 100%;
  height: auto;
  padding: 2rem 0rem;
}

.mobileItem {
  font-size: 1.1rem;
  font-family: var(--primary-font-family) !important;
  color: var(--primary-font-color) !important;
  font-weight: 600 !important;
  cursor: pointer;
}
.menuItem:hover {
  color: var(--footer-bg) !important;
  letter-spacing: 0.5px;
  font-weight: 700 !important;
}
@media (max-width: 1111px) {
  .menuItem {
    /* border: 2px solid red !important; */
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    cursor: pointer;
    margin: 0px !important;
  }
}
@media (max-width: 800px) {
  .menu {
    display: none;
  }
}
 