.menu {
  border: 2px solid rgb(89, 255, 0);
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuItem {
  font-size: 1.1rem;
  font-family: var(--primary-font-family) !important;
  color: var( --primary-font-color) !important;
  font-weight: 600 !important;
  cursor: pointer;
}
.isMobileMenu {
  /* border: 2px solid red !important; */
  width: 100%;
  height: auto;
  padding: 2rem 0rem;
}

.mobileItem {
  font-size: 1.1rem;
  font-family: var(--primary-font-family) !important;
  color: var( --secondary-font-color) !important;
  font-weight: 600 !important;
  cursor: pointer;
 
}
.menuItem:hover {
  color: #7659e5 !important;
  letter-spacing: 0.5px;
  font-weight: 700 !important;
} 
@media (max-width: 1111px) {
  .menu {
    border: 2px solid green;
    width: auto;
  }
}
@media (max-width: 800px) {
  .menu {
    display: none;
  }
}
